<!-- <nav class="nav justify-content-end nav-pills pb-5"> -->
<nav class="nav nav-pills justify-content-end mt-3 pb-5">
    <div>
        <a class="nav-link text-white bg-transparent"[routerLink]="[ '/search' ]" routerLinkActive="active">Search</a>
    </div>
    <div >
        <a class="nav-link text-white bg-transparent" [routerLink]="[ '/favorite' ]" routerLinkActive="active">Favorite</a>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- col-sm  -->
<!-- class="nav-item text-center p-3 " -->