 <div class="row"> 
    <div *ngIf="showTable()" class="container text-center">
        <table class="table-striped bg-dark text-white rounded mx-auto col-sm-10">
            <thead>
                <tr >
                    <th class="col-2 py-2">Date/Time</th>
                    <th class="col-2">Icon</th>
                    <th class="col-4">Event</th>
                    <th class="col-2">Genre</th>
                    <th class="col-2">Venue</th>
                </tr>
            </thead>
            <tbody style="cursor: pointer;">
                <tr 
                *ngFor="let item of tableData"
                (click)="getDetailFromServer(item.id)"
                >
                    <th >{{item.dates.start.localDate}}<br>{{item.dates.start.localTime}}</th>
                    <th ><img src={{item.images[0].url}} width="80" height="80"></th>
                    <th >{{item.name}}</th>
                    <th >{{item.classifications[0].segment.name}}</th>
                    <th >{{item._embedded.venues[0].name}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>   
<app-details 
[detail]="getDetail()"
[oriDetail]="getoriDetail()"
[twitterUrl]="twitterUrl"
[artist]="getArtist()"
[venue]="venueDetail"
[lat]="lat"
[lng]="lng"></app-details>

